# bot
BOT_TOKEN=
# redis
REDIS_HOST=
REDIS_PORT=
# database
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
# webhook
WEBHOOK_HOST=
WEBHOOK_PORT=
WEBHOOK_PATH=
WEBHOOK_BASE_URL=
WEBHOOK_X_Telegram_Bot_Api_Secret_Token=